[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
numpy = "*"
sentinelsat = "*"
python-dotenv = "*"
sqlalchemy="*"
passlib = "*"
bcrypt = "*"
python-jose = "*"
python-multipart = "*"
schedule = "*"
aiofiles = "*"
fastapi-utils = "*"

[dev-packages]
flake8 = "*"
pylint = "*"
autopep8 = "*"

[requires]
python_version = "3.9"
